
body{background-color: rgb(128, 248, 238);
}
h1{text-align: justify;
    color: rgb(136, 134, 124);
    line-height: 95%;

}
h5{
text-align: center;
}
p{
    color: rgb(12, 12, 11);
    text-align: center;
}
