
body{background-color: rgb(179, 240, 219);
}
.cad-desck{height: 30px;

}
h1{text-align: justify;
    color: rgb(136, 134, 124);
    line-height: 95%;

}
.tem{text-align: justify;

}
footer{ text-align-last: center;
    

}