@use"../abstracts/mixins" as *;

.card{
    margin: auto;
  border-radius: 20%;
height: 50%;
width: 50%;
}

.card__title{
 font-family: 'Times New Roman', Times, serif;
 color: rgb(146, 142, 142);
}



.icono{
    width: 50%;
    margin: auto;
    padding: 10px;
    
}

.card__body{
 @include centrado-texto;
  border-radius: 30px;
}

  
.card__ic{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 25px;
}


.header{
  @include centrado-texto;
}

